.cast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -20px;
  padding: 20px 0;
}
.cast .actor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 20px;
  width: 300px;
  font-family: var(--font);
  color: var(--white);
  border: 1px solid black;
  border-radius: 3px;
  background-color: var(--backdrop);
  box-shadow: var(--card-full-box-shadow);
}
.actor .image-container {
  height: auto;
  object-fit: cover;
}
.actor .actor-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.actor .actor-title {
  text-align: center;
  display: block;
  width: 100%;
  margin: 3px;
  color: var(--red);
}
.actor .actor-role {
  display: block;
  text-align: center;
  width: 100%;
  margin: 3px;
}
.cast .no-info {
  margin: 0 auto;
  color: var(--red);
}
