.reviews {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid var(--dark-purple);
}
.reviews div {
  max-width: 100%;
  padding: 10px;
  margin: 0 10px 0 10px;
}
.reviews div:nth-of-type(2n) {
  background-color: var(--white);
}
.reviews .no-info {
  margin: 0 auto;
  color: var(--red);
}
.content {
  display: block;
  max-width: 100%;
  word-wrap: break-word;
  padding: 0 10px 0 10px;
}
.author {
  text-align: center;
}
.show-more {
  display: inline;
  color: var(--light-blue);
  transition: all 250ms easy;
}
.show-more:hover {
  color: var(--red);
  cursor: pointer;
}
