.movie-link {
  display: block;
  max-width: 100%;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: var(--dark-blue);
  transition: all 250ms var(--cubic);
}
.movie-link:hover {
  color: var(--red);
}
.movie-link-active {
  color: var(--light-blue);
}
.details-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.button-box {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
}
