.loading {
  display: inline-block;
  position: fixed;
  z-index: 1;
  left: calc(50%);
  top: calc(50%);
  width: 30px;
  height: 30px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.4);
  animation: spin 1s var(--cubic) infinite;
  -webkit-animation: spin 1s var(--cubic) infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
