@import '../node_modules/modern-normalize/modern-normalize.css';
:root {
  --font: 'Lato', sans-serif;
  --big: 'Montserrat', sans-serif;
  --red: #ef2f3c;
  --white: #f6f4f3;
  --light-blue: #276fbf;
  --dark-blue: #183059;
  --light-purple: #3f51b5;
  --dark-purple: #303f9f;
  --yellow: #f0a202;
  --green: #27991a;
  --light: #dae8f8;
  --dark: #000000;
  --backdrop: rgba(0, 0, 0, 0.8);
  --gradient-start-color: #ef9e9e;
  --gradient-middle-color: #950000;
  --gradient-end-color: #faffb6;
  --gradient-start-hover-color: #ee8860;
  --gradient-middle-hover-color: #a10000;
  --gradient-end-hover-color: #56ad9f;
  --casts-background: rgba(206, 204, 204, 0.63);
  --card-full-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  --search-button-full-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
